[submodule "catalyst"]
	path = catalyst
	url = https://github.com/terraria-catalyst/catalyst.git
[submodule "src/Discord.Net"]
	path = src/Discord.Net
	url = https://github.com/terraria-catalyst/Discord.Net
